[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
remappings = [
  "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
  "@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/",
  "@openzeppelin-upgrades/=lib/openzeppelin-foundry-upgrades/src/",
  "forge-std/=lib/forge-std/src/",
  "openzeppelin-contracts/=lib/openzeppelin-contracts/",
  "openzeppelin-contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/",
]
solc = "0.8.28"
optimizer = true
optimizer_runs = 10000
via_ir = true
ffi = true # Required for openzeppelin-foundry-upgrades
ast = true # Required for upgrades validation
build_info = true
extra_output = ["storageLayout"]
bytecode_hash = "none"
cbor_metadata = false
fs_permissions = [
  { access = "read", path = "./out" },
  { access = "read", path = "." },
]

[rpc_endpoints]
polygon = "${POLYGON_MAINNET_RPC_URL}"
amoy = "${AMOY_RPC_URL}"

[etherscan]
polygon = { key = "${POLYGONSCAN_API_KEY}" }
amoy = { key = "${POLYGONSCAN_API_KEY}" }

[fmt]
line_length = 80
tab_width = 4
bracket_spacing = true
int_types = "long"
multiline_func_header = "all"
quote_style = "double"
number_underscore = "thousands"
override_spacing = true
