name: Release

on:
  push:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy to Polygon Mainnet
    runs-on: ubuntu-latest

    env:
      CI: true
      POLYGON_MAINNET_RPC_URL: ${{ secrets.POLYGON_MAINNET_RPC_URL }}
      POLYGONSCAN_API_KEY: ${{ secrets.POLYGONSCAN_API_KEY }}
      AWS_KMS_KEY_ID: ${{ secrets.RELEASE_KMS_KEY_ID }}
      AWS_ROLE_TO_ASSUME: ${{ secrets.RELEASE_ROLE }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # Need full history for reference builds

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_TO_ASSUME }}
          aws-region: "us-east-1"

      - name: Build Reference Contracts
        run: just build-reference

      - name: Build Contracts
        run: just build

      - name: Get KMS Address
        run: |
          echo "KMS_ADDRESS=$(cast wallet address --aws)" >> $GITHUB_ENV

      - name: Upgrade PropertyDataConsensus
        run: just upgrade-consensus-prod polygon
        env:
          CONSENSUS_PROXY: "0x525E59e4DE2B51f52B9e30745a513E407652AB7c"

      - name: Upgrade vMahout
        run: just upgrade-vmahout-prod polygon
        env:
          VMAHOUT_PROXY: "0x3b3ad74fF6840fA5Ff5E65b551fC5E8ed13c3F18"
          MINTER_ADDRESS: "0x525E59e4DE2B51f52B9e30745a513E407652AB7c"

      - name: Upgrade Mahout
        run: just upgrade-mahout-prod polygon
        env:
          MAHOUT_PROXY: "0xF7B26dEDDc5EfF1F0253bC0452244822951c1C97"
          MINTER_ADDRESS: "0x525E59e4DE2B51f52B9e30745a513E407652AB7c"
