name: Release

on:
  push:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy to Polygon Mainnet
    runs-on: ubuntu-latest

    env:
      CI: true
      POLYGON_MAINNET_RPC_URL: ${{ secrets.POLYGON_MAINNET_RPC_URL }}
      POLYGONSCAN_API_KEY: ${{ secrets.POLYGONSCAN_API_KEY }}
      AWS_KMS_KEY_ID: ${{ secrets.RELEASE_KMS_KEY_ID }}
      AWS_ROLE_TO_ASSUME: ${{ secrets.RELEASE_ROLE }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # Need full history for reference builds

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_TO_ASSUME }}
          aws-region: "us-east-1"

      - name: Build
        run: just build

      - name: Deploy (mainnet deterministic, create2)
        run: just deploy
